/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: var(--font-family-book); */
    text-decoration: none;
    list-style-type: none;
}

:root {
    --text-color-dark-theme: #ff022c;
    --bg--color: #081b29;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    /* --cover-color: linear-gradient(45deg, #00abf0, #006e9a); */
    --cover-color: #f5b553;
    --pages-color: linear-gradient(90deg, #fff, #ddd);
    --border: .125rem solid #00abf0;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
    --font-family-book: 'Poppins', sans-serif;
    --font-family-logo: 'Josefin Sans', sans-serif;
}


.section {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background: var(--bg--color); */
    color: var(--text-color);
    /* overflow: hidden; */
    margin-top: 200px;
}
                                                /* Header */
.header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: var(--text-color-dark-theme);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 200px;
    z-index: 700;
}

.header span {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-right: 8%;
}

.header span img {
    width: 100px;
    height: 100px;
}

.header span h3 {
    font-size: 60px;
    font-family: var(--font-family-logo);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.header ul {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.header ul li {
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s linear;
}

.header ul li:hover {
    transition: 0.2s linear;
}

.header ul li.active {
    border-bottom: 4px solid var(--main-color);
    padding-bottom: 2px;
    transition: 0.2s linear;
}



.header ul button {
    font-size: 20px;
    background: var(--bg--color);
    color: var(--white-color);
    width: 140px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
}



                                        /* Projects */

.projects {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    position: relative;
}

.projects .banner button {
    position: absolute;
    top: 0;
    background: var(--text-white);
    /* left: 10%; */
    transform: translate(0px, -50px);
    font-size: 20px;
    border-radius: 0.75rem;
    height: 70px;
    cursor: pointer;
    width: 180px;
    transition: width 1s infinite;
    animation: pulse 3s infinite;
    overflow: hidden;
}

.projects .banner button:hover,
.projects .banner button:focus {
    width: 200px;
    transition: width 0.5s;
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        width: 180px;
    }
    50% {
        width: 1000px;
    }
    100% {
        width: 180px;
    }
}

.projects .banner button span {
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: 40px;
    font-weight: bold;
    /* text-transform: uppercase; */
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects .banner  video {
    width: 1000px;
    object-position: 180px -380px;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.container .card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    /* cursor: pointer; */
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.container .card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.container .card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}

.container .card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.container .description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.container .description h4 {
    text-transform: uppercase;
}

.container input {
    display: none;
}

.container input:checked + label {
    width: 600px;
}

.container input:checked + label .description {
    opacity: 1!important;
    transform: translateY(0)!important;
}

.container .card[for="c1"] {
    background-image: url('./assets/wolf-book.png')
}
.container .card[for="c2"] {
    background-image: url('./assets/wolf-book.png')
}
.container .card[for="c3"] {
    background-image: url('./assets/wolf-book.png')
}
.container .card[for="c4"] {
    background-image: url('./assets/wolf-book.png')
}
.container .card[for="c5"] {
    background-image: url('./assets/wolf-book.png')
}



                                        /* Skills */
.skills {
    min-height: auto;
    padding: 20px 0 40px;
    background: #d3d6db;
    width: 100%;
    margin-bottom: 80px;
}

.skills h2 {
    text-align: center;
    font-size: 50px;
}

.skills h2 span {
    color: #f07810;
}

.skills .skills-row {
    display: flex;
    gap: 5rem;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 30px;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid #f07810;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff91;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 10px 0;
}

.skills-content .progress h3 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color-dark-theme);
}

.skills-content .progress .bar {
    height: 30px;
    border-radius: 20px;
    border: 0.2rem solid #f07810;
    padding: 4px;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background: black;
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 50%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 60%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 40%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
    width: 70%;
}


                                        /* Summary Book */
.summary-book {
    /* background: blue; */
    /* width: 100%; */
    text-align: center;
    margin-bottom: 80px;
}

.summary-book h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    /* background: blue; */
    padding: 2rem;
    animation: show-animate 2s forwards;
    perspective: 250rem;
}

@keyframes show-animate {
    0%,30% {
        opacity: 0;
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: var(--cover-color); */
    background: #f5b553;
    box-shadow: var(--box-shadow);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    transform-origin: right;
}

.cover.cover-left {
    z-index: -1;
}

.cover.cover-right {
    z-index: 100;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.cover.cover-right.turn {
    transform: rotateY(180deg);
}

.cover-right .button-animation {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 300;
    transform: translate(-50%, -50%);
}

.block {
    position: relative;
    width: 180px;
    height: 50px;
    background: linear-gradient(0deg, black, rgba(44,43,43));
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    transition: 0.2s linear;
    cursor: pointer;
}

.block:hover {
    font-weight: bold;
    color: #ff5722;
    width: 200px;
    height: 60px;
    border-radius: 25px;
    /* transform: scale(1.2); */
}

.block::before, .block::after {
    content:'';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    border-radius: 25px;
    z-index: -1;
    animation: animate-box-shadow 20s linear infinite;
}

@keyframes animate-box-shadow
{
    0%
    {
    background-position: 0 0;
    }
    50%
    {
    background-position: 400% 0;
    }
    100%
    {
    background-position: 0 0;
    }
}

.block::after {
    filter: blur(40px);
}

.cover-right img {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 32%;
    transform: translate(-50px, -50px);
    left: 26%;
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;
}

.book .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .1);
    display: flex;
    padding: 2rem;
}

.book-page.page-left {
    box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, .1);
}

.profile-page { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: seagreen; */
}

.profile-page img {
    /* max-width: 180px; */
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.25rem solid var(--main-color);
    margin-bottom: 0.8rem;
    object-position: -12px 0px;
}

.profile-page h1 {
    font-size: 2.7rem;
    line-height: 1;
}

.profile-page h3 {
    font-size: 1.5rem;
    color: var(--main-color);
}

.profile-page .social-media {
    margin: .6rem 0 .8rem;
}

.profile-page .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: var(--border);
    border-radius: 50%; 
    font-size: 1.3rem;
    color: var(--main-color);
    margin: 0 .2rem;
    transition: .5s;
}

.profile-page .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.profile-page p {
    text-align: justify;
}

.profile-page .btn-box {
    /* background: red; */
    margin-top: 1.2rem;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 3rem;
    background: var(--main-color);
    border: var(--border);
    border-radius: .3rem;
    color: var(--white-color);
    font-weight: 500;
    margin: 0 1rem;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}


.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    background: var(--main-color);
    color: var(--white-color);
}

.book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.book-page.page-right.turn {
    transform: rotateY(-180deg);
}

.book-page .page-front,
.book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pages-color);
    /* background: red; */
    padding: 1.5rem 2rem;
}

.book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
}

.book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.work-education-box {
    /* background: red; */
    border-left: var(--border);
}

.work-education-box .work-education-content {
    position: relative;
    /* background: seagreen; */
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}

.work-education-box .work-education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);  
    border-radius: 50%;
}

.work-education-box .year {
    color: var(--main-color);
}

.work-education-box .year i {
    margin-right: .4rem;
}

.number-page {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%)
}

.nextprev-btn {
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    /* background: seagreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-text-color);
    font-size: 2rem;
    cursor: pointer;
    transition: .5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

.nextprev-btn.back {
    left: 1.5rem;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services-box .services-content {
    flex: 1 1 10rem;
    border: var(--border);
    border-radius: .5rem;
    padding: .8rem .5rem 1.1rem;
    text-align: center;
    transition: .3s ease;
}

.services-box .services-content:hover {
    box-shadow: var(--box-shadow);
}

.services-content i {
    font-size: 2.5rem;
    color: var(--main-color);
}

.services-content h3 {
    font-size: 1.1rem;
}

.services-content p {
    margin: 0.2rem 0 0.8rem;
}

.services-content .btn {
    width: 8rem;
    height: 2.5rem;
}

.page-back .skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.page-back .skill-box .skill-content {
    flex: 1 1 20rem;
}

.page-back .skill-content h3 {
    font-size: 1.3rem;
    line-height: 1;
    margin-bottom: 0.6rem;
}

.page-back .skill-content .content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.page-back .skill-content .content span {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 5rem;
    border: var(--border);
    border-radius: .3rem;
    font-weight: 600;
    transition: .3s ease;
}

.page-back .skill-content .content span:hover {
    box-shadow: var(--box-shadow);
}

.page-back .skill-content .content span i {
    font-size: 3rem;
    color: var(--main-color);
}

.portfolio-box .img-box {
    display: flex;
    width: 100%;
    height: 15rem;
    /* background: red; */
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
}

.portfolio-box .img-box img {
    width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-box .img-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .info-box {
    margin: 1rem 0 1.5rem;
}

.portfolio-box .info-box .info-title {
    /* background: seagreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolio-box .info-box .info-title h3 {
    font-size: 1.3rem;
}

.portfolio-box .info-box .info-title a {
    display: flex;
    align-items: center;
    color: var(--main-color);
}

.portfolio-box .info-box .info-title a i {
    margin-left: 0.3rem;
}

.portfolio-box .info-box p:nth-of-type(1) {
    font-weight: 600;
}

.portfolio-box .btn-box {
    /* background: red; */
    display: flex;
    justify-content: center;
}

.portfolio-box .btn-box .btn {
    margin: 0 1.15rem;
}

.contact-box {
    text-align: center;
}

.contact-box .field {
    width: 100%;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.contact-box .field::placeholder {
    color: var(--text-color);
}

.contact-box textarea {
    resize: none;
    height: 15rem;
}

.contact-box .btn {
    cursor: pointer;
}

.back-profile {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    font-size: 1.1rem;
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.back-profile:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.5);
    font-size: 1rem;
    opacity: 0;
    transition: .5s ease;
    color: var(--main-color);
}

.back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -1.8rem;
}







                                            /* Contact Me */
.section-contact-me {
    background: var(--bg--color);
    width: 100%;
    height: 500px;
    display: flex;
    /* margin-top: 100px; */
}

.section-contact-me .left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15%;
} 

.left-content h2 {
    color: var(--white-color);
    font-size: 60px;
    margin-bottom: 40px;
}

.left-content span {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
}

.left-content i {
    color: var(--text-color-dark-theme);
    font-size: 40px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}

.left-content i:hover {
    font-weight: bold;
    transition: 0.2s linear;
}

.left-content p {
    color: var(--white-color);
    font-size: 18px;
}

.left-content ul {
    display: flex;
    margin-bottom: 40px;
}

.left-content ul li i {
    color: gray;
    margin: 0 8px;
    cursor: pointer;
}
.left-content ul li i:hover {
    font-weight: bold;
}

.section-contact-me .right-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-content input,
textarea {
    height: 40px;
    width: 80%;
    margin-bottom: 20px;
}

.right-content textarea {
    height: 180px;
    resize: none;
}

.right-content .field{
    padding-left: 10px;
    padding: 0.8rem;
}

.right-content .field::placeholder{
    color: var(--text-color-dark-theme);
    font-size: 16px;
}


.right-content .download-submit {
    width: 180px;
    height: 60px;
    margin: 24px 0 0;
}



.download-submit {
    width: 180px;
    height: 60px;
    border-radius: 15px;
    font-size: 20px;
    transition: 0.2s linear;
    background: var(--text-color-dark-theme);
    color: var(--white-color);
    cursor: pointer;
}

.download-submit:hover {
    font-weight: bold;
    background: var(--white-color);
    color: var(--text-color-dark-theme);
    transition: 0.2s linear;
}

                                            /* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background:yellow; */
    position: relative;
    bottom: 0;
}

.footer h3 {
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}